# Primary index: your private Cloudsmith repo
-i https://dl.cloudsmith.io/public/cs-x033/swg/python/simple/

# Also allow installing public packages from PyPI
--extra-index-url https://pypi.org/simple
--prefer-binary

# Your dependencies
swg
scs-kc
dill
sympy
numpy
scipy
jupyter
matplotlib
git+https://github.com/sandromiano/ninatool.git@main#egg=ninatool